python-dotenv
langchain
langchain-openai
langchain-google-genai
langchain-core
langchain-community
openai==0.28
fastapi
chromadb
unstructured
unstructured[all-docs]
coloredlogs
semantic-router
semantic-router[processing]
langchain_experimental
cohere
langchain_cohere
pyautogen
ipywidgets==7.7.2  
litellm 
weaviate-client 
python-Levenshtein 
protobuf==3.20.0
markdownify
sentence_transformers